services:
  - type: web
    name: hms
    env: docker
    plan: starter
    dockerfilePath: ./Dockerfile
    autoDeploy: true
    envVars:
      - key: ConnectionStrings__HmsConnection
        fromDatabase:
          name: hms-db
          property: connectionString

databases:
  - name: hms-db
    databaseName: hmsdb
    user: postgres
    password: password
    plan: free
    region: oregon
