services:
  - type: web
    name: hms
    env: docker
    plan: starter
    dockerfilePath: ./Dockerfile
    autoDeploy: true
    buildCommand: docker build -t hms .
    startCommand: docker run -p 10000:80 hms
    