services:
  - type: web
    name: hms
    env: docker
    plan: starter
    dockerfilePath: ./Dockerfile
    autoDeploy: true

databases:
  - name: hms-db
    databaseName: hmsdb_93f0
    user: hmsdb_93f0_user
    plan: free
    region: oregon
