services:
  - type: web
    name: hms
    env: docker
    plan: starter
    dockerfilePath: ./Dockerfile
    autoDeploy: true
    buildCommand: docker build -t hms .
    startCommand: docker run -p 10000:80 hms
    envVars:
      - key: ConnectionStrings__HmsConnection
        fromDatabase:
          name: hms-db
          property: connectionString
        
databases:
  - name: hms-db
    databaseName: hmsdb
    user: postgres
    password: strongpassword123
    plan: free
    region: oregon
