:root{
    --first-color: #e8f44a;
}
:root{
    --second-color: #004751;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.shadowed{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.hidden{
    display: none;
}
.container{
    width: 100%;
    /* height: 97vh; */
    display: flex;
    flex-direction: column;
}
.form-body
{
    margin: 10px;
    height: 90vh;
    display: flex;
    background-color: rgb(203, 203, 209);
    border-radius: 30px;
    flex-direction: column;
}
.upper{
    margin: 10px;
    display: flex;
    flex: 0 0 5%;
    color: var(--second-color);
    font-family: sans-serif;
    font-weight: bolder;
    justify-content: center;
    /* margin: 50px 0 10px 0; */
}
.lower{
    display: flex;
    flex: 0 0 1;
    align-items: center;
    justify-content: center;
}
.lower .row{
    display: flex;
}
.input{
    margin: 7px;
}
select{
    padding: 7px;
    border-radius: 8px;
    outline: none;
    border: none;
}
input{
    padding: 5px;
    border-radius: 8px;
    outline: none;
    border: none;
}
button{
    padding: 7px;
    border-radius: 15px;
    justify-content: space-between;
}
.first-btn{
    margin: 5px;
}
.middle-btn{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.last-previous{
    margin: 5px;
}
.submit{
    display:  flex;
    justify-content: center;
}
.submit>input{
    padding: 10px 40%;
    cursor: pointer;
}
